
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


body{
  background-color: rgb(233, 139, 239);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
  font-size: 3.5rem !important;
  
}

.header svg{
  margin-top: -11px;
  margin-right: 2rem;
}

.home{
  text-align: center;
}

.map-div{
  width: 100%;
}
.taskList{
width: 100%;
}
